body{
	font-family: Arial, sans-serif;
	/*display: grid;
	grid-template-rows: auto 1fr auto;*/
}

nav{
	width: 100%; /*ширина блока*/
	height: 60px;
	background: #344051;
	position: fixed;
	z-index: 2;
}

h2{
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	/*padding-top: 105px;*/
	font-weight: bold;
}

hr{
	display: block;
	border: 3px solid #d17700;
	width: 70px;
	margin: 30px auto 0px auto; /* верх право низ лево 924px???*/
	background-color: #d17700;
}

main{
	width: 100%;
	height: 100%;
}

/*Блок навигации*/
.logo{
	color: white;
	font-size: 28px;
	line-height: 60px; /*межстрочный интервал*/
	margin-left: 20%; /*padding-left: 388px;*/
	float: left; /*предыдущий элемент будет слева*/
}

.menu{
	float: left;
	margin-left: 25%;
	/*border: 1px solid black;*/
}

.menu li{
	float: left;
	line-height: 60px;
	color: white;
	margin-left: 40px;
	font-size: 16px;
	text-transform: uppercase;
}



.main_info{
	width: 100%;
	height: 100%; /*было calc(100% - 60px); 100% от body, в котором навигация 60*/
	background: url("../img/bg2.png") 90% 100%/auto 85% no-repeat, url("../img/bg1.jpg") center/cover no-repeat; /* 90 и 100 - ширина и высота (расположение), 
	auto и 85 - ширина и высота (самой картинки)*/
	box-shadow: 0px -1px 10px #000 inset;/*смещение горизонт, смещение вертик, степень размытости - глубина, цвет. inset - тень внутри элемента*/
}

/* блок Приветствия*/
.tittle_container{
	float: left;
	margin-left: 400px;
	margin-top: 433px;
	color: #2c384a;
	text-align: center;
}

.tittle_container h1{
	font-size: 60px;
	font-weight: bold;
}

.tittle_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.tittle_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #79818d;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 28px 0 14px;
}

/* блок Обо мне*/
.about_me{
	width: 100%;
	height: 717px;
	background: white center;
}

.about_me h2{
	margin-top: 105px;
	text-align: center;
}

img.pic{
	display: block;
	margin: 30px auto; /* верх право низ лево???*/
}

.about_me_text{
	width: 40%;
	margin: 0px auto;
	/*border: 1px solid black;*/
}

.about_me p{
	margin: 20px 0px; /*верх право низ лево???*/
}

.about_me span{
	margin-left: 5px;
}

.about_me button{
	margin: 35px auto 100px auto;
	background-color: #fcfdfd;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	cursor: pointer;
	height: 30px;
	width: 155px;
}
/* /блок Обо мне*/

/* блок Умения*/
.skills{
	width: 100%; /*ширина блока*/
	height: 520px;
	background: url("../img/bg2.jpg");


}

.skills h2{
	padding-top: 105px;
}

.skills_list{
	/*float: left;*/
	margin-top: 100px;
	margin-right: 80px;
	text-align: center;
	display: inline-block;
}

#first_on_list{
	margin-left: 25%; /*417px*/
}

.skills h5{
	color: #cf7600;
	font-size: 18px;
	font-weight: bold;
	margin-top: 36px;
	margin-bottom: 15px;
}

.skills p{
	color: black;
	font-size: 16px;
	width: 212px;
	text-align: center;
}
/* /блок Умения*/

/* блок Кейсы*/
.cases h2{
	padding-top: 60px;
}


#text_under_pic{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.cases img{
	margin-left: 21.5%; /*395px*/
	display: block;
}

.cases_left{
	width: 204px;
	height: 200px;
	float: left;
	/*display: inline-block;*/
	margin-left: 21.5%; /*390px*/
}

.cases_left input{
	width: 200px;
	height: 45px;

	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 8px;
}

.cases_left h3{
	font-size: 16px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 8px;
}

.cases_left p{
	margin-top: 8px;
	margin-bottom: 8px;
}

.cases_right{
	margin-left: 2%;
	width: 900px;
	height: 200px;
	position: relative;
	display: inline-block;
	/*float: left;*/
	/*border:1px solid black;*/
}

.cases_right h4{
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
	margin-top: 8px;
}

.cases_right p{
	width: 850px;
	margin-top: 8px;
}

.prices h3{
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 25px;
	padding-top: 25px;
}

.prices{
	width: 900px;
	height: 525px;
	margin: auto; /*left 525px*/
	/*border: 1px solid black;*/
}

.prices hr{
	border:1px solid #d1d1d1;
	width: 100%;
	margin-left: 0px;
}

.prices select{
	width: 100%;
	height: 57px;
	background-color: #eeeeee;
	font-size: 16px;
}

.prices p{
	width: 100%;
	/*border: 1px solid black;*/


}

.text_total{
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
	display: inline-block;
}

.total_sum{
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	margin-top: 5px;
	display: inline-block;
	float: right;
	/*border: 1px solid black;*/
}
/* /блок Кейсы*/

/* блок Статистика*/
.statistics{
	width: 100%;
	height: 500px;
	background: url("../img/bg3.jpg");
	text-align: center;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.statistics h2{
	padding-top: 100px; 
}

.statistics h4{
	margin-top: 30px; 
	margin-bottom: 30px; 
	font-size: 30px;
	font-weight: bold;
}

.statistics hr{
	margin-bottom: 100px;
}

.statistics img{
	height: 47px;
}

.statistics p{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

#first_stat_list{
	margin-left: 21.5%; /*440px*/
}

.stat_list{
	float: left;
	margin-right: 150px;
}
/* /блок Статистика*/

/* блок Отзывы*/
.rewiews{
	width: 100%;
	height: 595px;
}

.rewiews h2{
	padding-top: 103px;
}

.rewiews img{
	display: block;
	margin: auto; /*910px*/
	margin-top: 60px;
	margin-bottom: 50px;
}

.rewiews p{
	margin-top: 15px;
	margin-bottom:15px;
	text-align: center;
	width: 700px;
	margin: auto;
}

.rewiews span{
	font-weight: bold;
}

.rewiews_radio{
	margin-left: 48%; /*910px*/
}

.rewiews input{
	/*color: #c96500; ???????????????????*/
	margin-top: 20px;
	margin-right: 10px;
}
/* /блок Отзывы*/

/* блок Контакты*/
.contacts{
	width: 100%;
	height: 808px;
	background: url("../img/bg4.jpg");
	color: white;
}

.contacts>p{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 45px;
}

.contacts h2{
	padding-top: 103px;
}

.contacts h3{
	margin-top: 30px;
	margin-bottom: 45px;
	font-size: 19px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.cont_line_pics{
	margin: auto; /*594px*/
	width: 740px;
	height: 100px;
}

.cont_line_pics p{
	margin-top: 15px;
	text-align: center;
}

.cont_line_pics img{
	margin-left: 50px;
}

.contacts_line{
	/*float: left;*/
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
	margin-right: 50px;
	width: 135px;
}

.contact_input{
	margin-left: 594px;
	width: 740px;
}

#name_input{
	width: 353px;
	height: 35px;

}

#email_input{
	width: 353px;
	height: 35px;
	margin-left: 30px;
}

#text_input{
	width: 740px;
	height: 92px;
	margin-top: 15px;
	margin-bottom: 30px;
}

#contact_submit{
	background-color: Transparent;
	border: 1px solid white;
	color: white;
	height: 43px;
	width: 122px;
	font-weight: bold;
	border-radius: 5px;
	margin-left: 305px;
}

.img_social_media{
	width: 100%;
	margin-left: 753px; /*753px*/
	margin-top: 50px;
}

.img_social_media img{
	margin-right: 50px;
}

/* /блок Контакты*/

/* блок Карта*/
.map{
	width: 100%;
	height: 245px;
	background: url("../img/map.jpg");
}

/* /блок Карта*/

/* блок нижняя граница*/
footer{
	width: 100%; 
	height: 100px;
	background: #344051;
	text-align: center;
	color: white;
	/*display: block;*/
}

footer p{
	padding-top: 40px;
	font-size: 14px;
}
/* /блок нижняя граница*/