body{
	font-family: Arial, sans-serif;
}

nav{
	width: 100%; /*ширина блока*/
	height: 60px;
	background: #344051;
}

h2{
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	/*margin-top: 105px;*/
	font-weight: bold;
}

hr{
	border: 3px solid #d17700;
	width: 70px;
	margin: 30px auto 0px 924px; /* верх право низ лево???*/
}

/*Блок навигации*/
.logo{
	color: white;
	font-size: 28px;
	line-height: 60px; /*межстрочный интервал*/
	margin-left: 20%; /*padding-left: 388px;*/
	float: left; /*предыдущий элемент будет слева*/
	/*border: 1px solid black;*/
}

.menu{
	float: left;
	margin-left: 25%;/*padding-left: 432px;*/
	/*border: 1px solid black;*/
}
.menu li{
	float: left;
	line-height: 60px;
	color: white;
	margin-left: 40px;
	font-size: 16px;
	text-transform: uppercase;
	/*border: 1px solid black;*/
}

.main{
	width: 100%;
	height: calc(100% - 60px); /*100% от body, в котором навигация 60*/
	background: url("../img/bg2.png") 90% 100%/auto 85% no-repeat, url("../img/bg1.jpg") center/cover no-repeat; /* 90 и 100 - ширина и высота (расположение), 
	auto и 85 - ширина и высота (самой картинки)*/
	box-shadow: 0px -1px 10px #000 inset;/*смещение горизонт, смещение вертик, степень размытости - глубина, цвет. inset - тень внутри элемента*/
}

/* блок Приветствия*/
.tittle_container{
	float: left;
	margin-left: 400px;
	margin-top: 433px;
	color: #2c384a;
	text-align: center;
}

.tittle_container h1{
	font-size: 60px;
	font-weight: bold;

}

.tittle_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.tittle_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #79818d;
	font-size: 13px;
	padding: 0px 16px; /* верх низ право лево????????*/
	margin: 58px 28px 0 14px;
}

/* /блок Приветствия*/

/* блок Обо мне*/
.about_me{
	width: 100%;
	height: 717px;
	background: white center;
}

.about_me h2{
	margin-top: 105px;
}

img.pic{
	margin: 30px auto 30px 860px; /* верх право низ лево???*/
}

.about_me p{
	margin: 20px 592px 20px 595px;  /*верх право низ лево???*/
	/*text-align: center;*/
}

.about_me span{
	margin-left: 5px;
}

.about_me button{
	margin: 35px auto 100px 887px;
	background-color: #fcfdfd;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	cursor: pointer;
	height: 30px;
	width: 155px;
}
/* /блок Обо мне*/

/* блок Умения*/
.skills{
	width: 100%; /*ширина блока*/
	height: 520px;
	background: url("../img/bg2.jpg");


}

.skills h2{
	margin-top: 105px;
}

.skills_list{
	float: left;
	margin-top: 100px;
	margin-right: 80px;
	text-align: center;
}

#first_on_list{
	margin-left: 417px;
}

.skills h5{
	color: #cf7600;
	font-size: 18px;
	font-weight: bold;
	margin-top: 36px;
	margin-bottom: 15px;
}

.skills p{
	color: black;
	font-size: 16px;
	width: 212px;
	text-align: center;
}
/* /блок Умения*/

/* блок Кейсы*/
.cases h2{
	margin-top: 60px;
}

.cases hr{
	margin-left: 919px;
}

#text_under_pic{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.cases img{
	margin-left: 395px;
}
.cases_left{
	border:1px solid black;
	width: 204px;
	height: 180px;

}

.cases_right{
	width: 855px;
	height: 100px;
	/*float: left;*/
	/*border:1px solid black;*/
}

.prices h3{
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 25px;
}

.prices{
	width: 900px;
	height: 525px;
	margin-left: 525px;
	/*border: 1px solid black;*/
}

.prices hr{
	border:1px solid #d1d1d1;
	width: 100%;
	margin-left: 0px;
}

.prices select{
	width: 100%;
	height: 57px;
	background-color: #eeeeee;
	font-size: 16px;
}

.prices p{
	width: 100%;
	/*border: 1px solid black;*/

}

.text_total{
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin-top: 25px;
}

.total_sum{
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	margin-top: 25px;
	/*border: 1px solid black;*/
}
/* /блок Кейсы*/

/* блок Статистика*/
.statistics{
	width: 100%;
	height: 500px;

}
/* /блок Статистика*/

/* блок Статистика*/
.statistics{
	width: 100%;
	height: 500px;
	background: url("../img/bg3.jpg");
}
/* /блок Статистика*/

/* блок Отзывы*/
.rewiews{
	width: 100%;
	height: 595px;
}
/* /блок Отзывы*/

/* блок Контакты*/
.contacts{
	width: 100%;
	height: 458px;
	background: url("../img/bg4.jpg");
	color: white;
}

/* /блок Контакты*/

/* блок Карта*/
.map{
	width: 100%;
	height: 245px;
	background: url("../img/map.jpg");
}
/* /блок Карта*/

/* блок нижняя граница*/
footer{
	width: 100%; /*ширина блока*/
	height: 100px;
	background: #344051;
	text-align: center;
	color: white;
}

footer p{
	margin-top: 40px;
	font-size: 14px;
}
/* /блок нижняя граница*/